:root{
    
}

header{
    display: block;
    background-image: linear-gradient(to right, blue, purple);
    text-align: center;
    color: white;
    font-size: xx-large;
    height: 50px;
}

aside{
    border-right: 2px solid black;
    height: calc(100vh - 50px);
}

h2{
    font-size: 30px;
    font-weight: bold;
}

.btn{
    border: 1px solid black;
    margin: 2px;
}

#search_city{
    border: 1px solid black;
    border-radius: 5px;
}

#today{
    border: 1px solid black
}

#info h4{
    font-size: 20px;
}

#old_search{
    border-top: 3px solid black;
    margin-top: 3px;
    padding-top: 3px;
}